covid-case-api-old/src/main/mule/update-covid-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<flow name="update-covid-caseFlow" doc:id="d8d7cfb3-9597-440e-9831-a824618b464f" >
		<http:listener doc:name="Update Covid Case" doc:id="d7687901-50ba-4e2e-b4dd-807e300a7c7a" config-ref="HTTP_Listener_config" path="/v1/cases" allowedMethods="PUT">
			<http:error-response statusCode="#[vars.statusCode]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Set TransformationId and CorrelationId" doc:id="88a8f076-ba72-4364-9e4e-1c7041d9eeca" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="transactionId" ><![CDATA[%dw 2.0
output application/java
---
attributes.headers.'x-transaction-id' default uuid()]]></ee:set-variable>
				<ee:set-variable variableName="correlationId" ><![CDATA[%dw 2.0
output application/java
---
attributes.headers.'x-correlation-id' default payload.covidCase.caseID]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Start Log" doc:id="5fdfd65a-79ab-4763-a896-2c5532fa8a1f" message='TransactionId: #[vars.transactionId], correlationId: #[vars.correlationId], message: "Started update covid case flow", Payload: #[payload]'/>
		<flow-ref doc:name="Flow Reference" doc:id="a2dd2e54-2930-455c-801e-2a3e24c0df23" name="update-covid-case"/>
		<logger level="INFO" doc:name="End Log" doc:id="739e61db-5fbb-40b0-ae3a-de11657c0cde" message='TransactionId: #[vars.transactionId], correctionId: #[vars.correlationId], message: "Completed update covid case flow", Payload: #[payload]'/>
	</flow>
	<flow name="update-covid-case" doc:id="4fe0c5df-4da9-4498-9aa5-d5cb0a90de2b" >
		<logger level="INFO" doc:name="Logger" doc:id="48830a9f-8c9a-4b62-a363-658550897ebb" />
		<ee:transform doc:name="Set payload" doc:id="483d9aa9-0645-42ad-bfa8-766c2a73d7c5">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload.covidCase]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<validation:is-not-null doc:name="CaseID field required" doc:id="1c18d020-7090-4b52-8e4e-59c40cdda24f" value="#[payload.caseID]" message='#["caseId field is required"]' />
		<flow-ref doc:name="Covid-case-validation-sub-flow" doc:id="d59cbbc2-43b3-46d8-9fe1-d33456ac47e5" name="covid-case-validation-sub-flow" />
		<ee:transform doc:name="Prepare covid case payload" doc:id="c396e911-5e47-4de5-96cc-f6d1262cebbd">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="updateCovidCasePayload"><![CDATA[%dw 2.0
output application/json
---
{
	caseId: payload.caseID,
	source: payload.source,
	caseType: payload.caseType,
	firstName: payload.firstName,
	lastName: payload.lastName,
	phone: payload.phone,
	email: payload.email,
	dateOfBirth: payload.dateOfBirth,
	nationalId: payload.nationalID,
	nationalIdType: payload.nationalIDType,
	streetAddress: payload.address.streetAddress,
	city: payload.address.city,
	state: payload.address.state,
	postal: payload.address.postal,
	country: payload.address.country,
	updateDate: now() as String {format: "yyyy-MM-dd"}
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<db:update doc:name="Update Covid Case" doc:id="7e3e1790-1875-4da3-9274-96ca3c6c8237" config-ref="PostgresDatabase">
			<db:sql><![CDATA[UPDATE CVD_CASE_MASTER
SET source = :source, case_type = :caseType, first_name = :firstName, last_name = :lastName, phone = :phone, email = :email, date_of_birth = :dateOfBirth, national_id = :nationalId, national_id_type = :nationalIdType, street_address = :streetAddress, city = :city, state = :state, postal = :postal, country = :country, update_date = :updateDate
WHERE case_id = :caseId]]></db:sql>
			<db:input-parameters><![CDATA[#[vars.updateCovidCasePayload]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="Set response" doc:id="f97bc9e3-2862-4fef-a3c2-b0774b609af5">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
---
{
	CASE: {
		caseID: vars.updateCovidCasePayload.caseId
	}
}]]></ee:set-payload>
			</ee:message>
			<ee:variables>
			</ee:variables>
		</ee:transform>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="347f868c-548c-4daf-84a5-ac57df7a9391" type="VALIDATION:MISMATCH, VALIDATION:MULTIPLE, VALIDATION:NULL">
				<ee:transform doc:name="Set Invalid Request payload Response" doc:id="482a1c09-3f35-4bbc-b408-725896559d5c">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	code: 400,
	message: "Bad Request",
	description: error.description,
	dateTime: now() as String {format: "yyyy-MM-dd'T'HH:mm:ss'Z'"},
	transactionId: vars.transactionId
}

]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="statusCode"><![CDATA[400]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
