covid-case-api/src/main/mule/implementations/get-covid-case-by-national-id.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	    <flow name="get:\cases\(nationalID):covid-case-api-config">
		<ee:transform doc:name="Set CorrelationId" doc:id="c2ae646e-46f5-4191-bf0d-ca26f8ae5a74" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="correlationId" ><![CDATA[%dw 2.0
output application/java
---
attributes.headers.'x-correlation-id' default attributes.uriParams.nationalID]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Start Log" doc:id="bce513c9-d906-4425-95a2-d95b87433edf" message='TransactionId: #[vars.transactionId], CorrelationId: #[vars.correlationId], message: " Started get covide cases by nationalId flow"' />
		<db:select doc:name="Fetch Covid Cases By NationalID" doc:id="e3e32f44-19e6-401d-b793-b13aeb517ab7" config-ref="Database_Config" >
			<db:sql ><![CDATA[SELECT case_id, source, case_type, first_name, last_name, phone, email, date_of_birth, national_id, national_id_type, street_address, city, state, postal, country, create_date, update_date
FROM CVD_CASE_MASTER
WHERE national_id = :nationalId]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	nationalId: attributes.uriParams.nationalID
}]]]></db:input-parameters>
		</db:select>
		<choice doc:name="Choice" doc:id="2a3082fa-cc1d-4052-ab28-36899923a9a0" >
			<when expression="#[!isEmpty(payload)]" >
				<ee:transform doc:name="Set Success response" doc:id="6ed1e5c5-a418-4173-8b9d-8e46f3990a84" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ({
	caseId: $.case_id,
	source: $.source,
	caseType: $.case_type,
	firstName: $.first_name,
	lastName: $.last_name,
	phone: $.phone,
	email: $.email,
	dateOfBirth: $.date_of_birth,
	nationalId: $.national_id,
	nationalIdType: $.national_id_type,
	address: {
		streetAddress: $.streetAddress,
		city: $.city,
		state: $.state,
		postal: $.postal,
		country: $.country
	},
	createDate: $.create_date,
	updateDate: $.update_date
})]]></ee:set-payload>
					</ee:message>
					<ee:variables />
				</ee:transform>
			</when>
			<otherwise >
				<raise-error doc:name="Raise CUSTOM:COVID_CASE_NOT_FOUND" doc:id="21d41a1c-158f-4d4f-ac60-d34778e194d7" type="CUSTOM:COVID_CASE_NOT_FOUND" description="The server has not found anything matching the request-URI" />
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="End Log" doc:id="6e394311-2514-495b-a579-81d8d527f19a" message='TransactionId: #[vars.transactionId], CorrelationId: #[vars.correlationId], message: "Completed get covid cases by nationalId flow"' />
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="1ce74994-cb96-4ddd-8679-7079de85505c" type="CUSTOM:COVID_CASE_NOT_FOUND" >
				<ee:transform doc:name="Set Covid Case Not Found Response" doc:id="94a80535-1dc9-434e-ac96-30f956f32078" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	code: 404,
	message: "Resource not found",
	description: error.description,
	dateTime: now() as String {format: "yyyy-MM-dd'T'HH:mm:ss'Z'"},
	transactionId: vars.transactionId
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[404]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-continue>
		</error-handler>
    </flow>
	</mule>
