covid-case-api/src/main/mule/get-covid-report.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="get-covid-reportFlow" doc:id="1ba9be11-45ba-4a87-bb58-7ace3eb40046" >
		<http:listener doc:name="HTTP: GET /v1/reports" doc:id="3ea15382-3205-4cca-9f1b-b8bac138f5d3" config-ref="HTTP_Listener_config" path="/v1/reports" allowedMethods="GET"/>
		<logger level="INFO" doc:name="Log state query params" doc:id="5910bd79-3584-4965-9a45-388e76c7111e" message="#[attributes.queryParams.state]"/>
	</flow>
</mule>
