covid-case-api/src/main/mule/register-covid-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8a42f0c8-6f62-46b2-ad65-1b9d05f7a9ba" basePath="/covid" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="PostgresDatabase" doc:name="Database Config" doc:id="6b7be066-e0e8-43a5-82fb-d91362eb6187" >
		<db:generic-connection url="jdbc:postgresql://localhost:5433/mule_db" driverClassName="org.postgresql.Driver" user="postgres" password="postgres" />
	</db:config>
	<flow name="register-covid-caseFlow" doc:id="2b08e174-a8fb-4b0a-952d-ba71c0003ccc" >
		<http:listener doc:name="Register Covid case" doc:id="f9c6c25d-51c6-4699-b5f8-166b45508464" config-ref="HTTP_Listener_config" path="/v1/cases" allowedMethods="POST">
			<http:response statusCode="#[vars.code]" reasonPhrase='#[vars.message]' >
			</http:response>
			<http:error-response >
				<http:body ><![CDATA[output text/plain --- error.description]]></http:body>
			</http:error-response>
		</http:listener>
		<logger level="INFO" doc:name="Start Log" doc:id="5ba5052e-fed6-41ca-a62c-c8f33fdf8af2" message='#["Covid case registration flow started"]'/>
		<ee:transform doc:name="Prepare covid case payload" doc:id="41186cf2-342c-4bce-b3ce-268ae4449659" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="covideCasePayload" ><![CDATA[%dw 2.0
output application/java
var creationDate: String = now() as String {format: "yyy-MM-dd"}
var currentUser: String = "Agent-82"
---
{
	source: payload.source,
	caseType: payload.caseType,
	firstName: payload.firstName, 
	lastName: payload.lastName,
	phone: payload.phone,
	email: payload.email,
	dateOfBirth: payload.dateOfBirth,
	nationalId: payload.nationalID,
	nationalIdType: payload.nationalIDType,
	streetAddresses: payload.address.streetAddress,
	city: payload.address.city,
	state: payload.address.state,
	postal: payload.address.postal,
	country: payload.address.country,
	createDate: creationDate,
	updateDate: creationDate,
	createBy: currentUser,
	updateBy: currentUser
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<db:insert doc:name="Insert new covid case" doc:id="8d55ef63-124e-4815-a16f-a5d415168faa" config-ref="PostgresDatabase" autoGenerateKeys="true">
			<db:sql ><![CDATA[INSERT INTO CVD_CASE_MASTER (SOURCE, CASE_TYPE, FIRST_NAME, LAST_NAME, PHONE, EMAIL, DATE_OF_BIRTH, NATIONAL_ID, NATIONAL_ID_TYPE, STREET_ADDRESS, CITY, STATE, POSTAL, COUNTRY, CREATE_DATE, UPDATE_DATE, CREATE_BY, UPDATE_BY) VALUES (:source, :caseType, :firstName, :lastName, :phone, :email, :dateOfBirth, :nationalId, :nationalIdType, :streetAddresses, :city, :state, :postal, :country, :createDate, :updateDate, :createBy, :updateBy)  ]]></db:sql>
			<db:input-parameters ><![CDATA[#[vars.covideCasePayload]]]></db:input-parameters>
			<db:auto-generated-keys-column-names >
				<db:auto-generated-keys-column-name value="case_id" />
			</db:auto-generated-keys-column-names>
		</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="33a6f7b6-75fe-4c3e-961b-11c981ea0768" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	caseID: payload[0].case_id
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="message" ><![CDATA["Created"]]></ee:set-variable>
				<ee:set-variable variableName="code" ><![CDATA[201]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="57447f60-e213-4d42-9416-548e32763455" message='#["Covid case registration end"]'/>
	</flow>
	<flow name="register-covid-caseFlow1" doc:id="8a98fa37-d21f-403a-b54c-427a98540955" >
		<logger level="INFO" doc:name="Logger" doc:id="582a12b9-a228-4a10-bc8f-ab245386d3b6" />
		<db:select doc:name="Select Id" doc:id="bf9889cc-1876-4a37-aac1-3881380084f6" config-ref="PostgresDatabase">
			<db:sql><![CDATA[SELECT MAX (case_id) as case_id FROM CVD_CASE_MASTER WHERE national_id = :nationalId]]></db:sql>
			<db:input-parameters><![CDATA[#[{
	nationalId: vars.covideCasePayload.nationalId
}]]]></db:input-parameters>
		</db:select>
	</flow>
</mule>
