covid-case-api/src/main/mule/register-covid-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8a42f0c8-6f62-46b2-ad65-1b9d05f7a9ba" basePath="/covid" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="register-covid-caseFlow" doc:id="2b08e174-a8fb-4b0a-952d-ba71c0003ccc" >
		<http:listener doc:name="HTTP: POST /v1/cases" doc:id="f9c6c25d-51c6-4699-b5f8-166b45508464" config-ref="HTTP_Listener_config" path="/v1/cases" allowedMethods="POST">
			<http:response statusCode="200" reasonPhrase='#["OK"]' >
				<http:body ><![CDATA[#["Success"]]]></http:body>
			</http:response>
			<http:error-response >
				<http:body ><![CDATA[output text/plain --- error.description]]></http:body>
			</http:error-response>
		</http:listener>
		<logger level="INFO" doc:name="payload" doc:id="706ca3a3-3edc-44bc-8614-5600e1a463d0" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="485781e2-ec75-4cdf-b5c1-506f76bf0d81">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
---
COVID_CASE :{
	FIRST_NAME: payload.firstName,
	LAST_NAME: payload.lastName,
	EMAIL: payload.email,
	DATE_OF_BIRTH: payload.dateOfBirth,
	COUNTRY: payload.address.country
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="57447f60-e213-4d42-9416-548e32763455" message="#[payload]"/>
	</flow>
</mule>
