employee_crud_api/src/main/mule/get_employee_api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="get_employee_apiFlow" doc:id="bc53c964-81f8-482d-b853-31ffece8a7f6" >
		<http:listener doc:name="Get employee" doc:id="9c767ff7-0da8-4b2c-a81c-2fb8a9c36a47" config-ref="HTTP_Listener_config" path="/v1/employees/{employeeId}" allowedMethods="GET"/>
		<logger level="INFO" doc:name="Start Log" doc:id="5038678b-a938-48e2-8b22-f88ac42e4d5f" message="Start fetching employee detail"/>
		<db:select doc:name="Retrieve employee" doc:id="2e41e81d-4794-43b4-804c-b2750c1a4311" config-ref="PostgresDatabaseConfig">
			<db:sql ><![CDATA[SELECT id, name, status
FROM employee
WHERE id = :id]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	id: attributes.uriParams.employeeId
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="fce15684-d58e-4ea9-824e-289fb66fe4bb">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	employeeId: payload[0].id,
	employeeName: payload[0].name,
	employeeStatus: payload[0].status
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="3c8b037f-a8dc-4618-b142-3481e0867cf5" />
	</flow>
</mule>
